@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #75bce6;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  text-align: center;
}

.line {
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: -2vw;
  transform: translateY(-50%, );
  height: 2.5vh;
  width: 0;
  z-index: 2;

  animation: grow 3s linear forwards;
}

@keyframes grow {
  to {
    width: 104vw;
  }
}

.overLay {
  z-index: 2;
}