/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background-color: #e9f2ef;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 47vh;
  height: calc(47vh*1.7);
  background-color: #f9fafc;
}

.header {
  width: 100%;
  height: 25%;
  color: white;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;

  padding: 1rem;

  background-image: url('https://s2.glbimg.com/CS7Q2qguqmkaZ0B5fCfW4GUJqPU=/800x0/smart/filters:strip_icc()/s.glbimg.com/po/tt2/f/original/2014/08/06/guardioes-da-galaxia-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10;
}