@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-bg-primary: #f3f8fe;
  --color-bg-secondary: #ffffff;
  --color-bg-icon: #e6effa;
  --color-text: #1c2b62;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text);
  font-weight: 500;

  background-color: var(--color-bg-primary);
}

main {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 50px;

  border-radius: 20px;
  box-shadow: 0px 0px 71px -51px rgba(0, 0, 0, 0.75);

  background-color: var(--color-bg-secondary);
}

main::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);

  width: 93%;
  height: 25px;
  border-radius: 0 0 20px 20px;

  background-color: #e6effa;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* CARD LEFT */
.left {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.user-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-bg-icon);

  transition: padding 400ms ease;
}

.user-circle:hover {
  padding: 0px;
}

.user-circle img {
  width: 100%;
  height: 100%;
  border-radius: 60px;

  object-fit: cover;
  object-position: center center;

  resize: none;
  overflow: hidden;
}

/* CARD RIGHT */
.right {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.content-title {
  margin: 15px 0;
  margin-top: 10px;
}

.title {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  line-height: 1.3;
}

.sub-title {
  font-size: 12px;
}

.contetn-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 10px;
}

.contetn-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.content-msg > p {
  font-size: 15px;
  text-align: left;

  margin: 5px 0;
}

.contetn-text {
  font-size: 14px;
}

.btn {
  cursor: pointer;
  padding: 7px;
  border: solid 3px #d2d6e6;
  border-radius: 3px;

  color: var(--color-text);
  font-size: 13px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  transition: background-color 300ms ease;
}

.btn:hover {
  background-color: #1c2b62;
  border-color: #1c2b62;

  color: #fff;
}
