body {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  margin: 2px;
  height: 16px;
  width: 16px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
