@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0;
}

.loading-container {
  background-color: #fff;
  border: 3px solid #000;
  padding: 10px;
  position: relative;
  width: 400px;
  max-width: 100%;
}

.loading-container::after {
  background-color: #fff;
  content: '';
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: center left;
  height: 100%;
  width: 100%;

  animation: grow 5s linear infinite;
}

@keyframes grow {
  to {
    transform: scale(1);
  }
}

h1 {
  margin: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
